.login-form {
    width: 500px;
}

.login-input input {
    height: 44px;
    border: 1px solid #CACACE;
}

.login-input input::placeholder {
    color: #313135;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.login-input input:focus {
    outline: 0;
}

@media screen and (max-width:520px) {
    .login-form {
        width: 90%;
    }
}